.board {
    display: flex;
    flex-wrap: wrap; 
	justify-content:space-between;
}

.boardContainer{
    height:auto;
    width: 600px;
    margin:5px;

}

.card{
    border: 5px solid aqua;
    margin-left: 2px;
    margin-right: 2px;
}
.card:hover{
    border-color: yellow;
}

.activeCard{
    border: 5px solid black;
}

.activeImg{
    width: 90px;
    height:270px;
}



